<!-- 这是我们自定义的错误信息提示页面 -->

<!-- code 错误编码 -->
<!-- msg 错误提示 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body style="background:url(/images/1.jpg)">
    <div class="main">
        <div class="allSpan">
            <span>
                <%- code %>
            </span>
            <span>
                <%- msg %>
            </span>
        </div>
    </div>
    
</body>
</html>

